.videoCard {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 600px; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(5px); Start with blur */
  transform: scale(0.8); /* Start scaled down */
  transition: transform 0.5s, filter 0.5s; /* Smooth transition */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.videoTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
