.navbar {
  padding: 2vw 3vw;
}

.navbar {
  z-index: 99999999999999;
}

.navLogo {
  width: 100px;
}

.navBtn {
  background: white;
  border-radius: 1em;
  padding: 1em 0.5em;
  height: 70%;

  background: rgba(255, 235, 205, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  mix-blend-mode: difference;
}

.buyNow {
  background: #ffebcd;
  color: #370037;
  font-family: "Poppins", "Helvetica Neue";
  border-radius: 1em;
  padding: 1em;

  font-size: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #370037;
}

.navTopText {
  font-family: "Poppins", "Helvetica Neue";
  font-size: 1rem;
  color: #370037;
  padding-left: 0.5em;
}

.navBottomLeft {
  margin-right: 2em;
}

.mouseIcon {
  color: rgba(255, 235, 205, 0.751);
  font-size: 2rem;
}

.socialMedia {
  margin-right: 20em;
}

.navIcons {
  margin-left: 4em;
  transition: all 0.2s linear;
}
.navIconsFor1 {
  margin-left: 0px;
}

.navIcons:hover {
  color: rgba(255, 235, 205, 0.736);
  text-shadow: 0 0 8px blanchedalmond; /* Initial glow effect */
}

.navIcon {
  color: blanchedalmond;
  font-size: 1.5rem;
  transition: text-shadow 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.navIcon:hover {
  text-shadow: none;
  color: rgba(255, 235, 205, 0.736);
  text-shadow: 0 0 8px blanchedalmond; /* Initial glow effect */
}

.navBottomNumber {
  color: antiquewhite;
  font-size: rem;
  margin-left: 1rem;
}

.navBottomNumber1 {
  font-size: 1.2rem;
}

/* Base styles for the Buy Now button */
.buyNow {
  position: relative;
  overflow: hidden;
  border: 1px solid #370037;
  color: #370037;
  font-family: "Poppins", "Helvetica Neue";
  border-radius: 1em;
  padding: 1em;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background: #ffebcd;
  transition: background-color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buyNow span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.buyNow span:last-child {
  color: #ffebcd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(225%) translateX(-50%);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

/* Background reveal effect */
.buyNow:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #370037;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

/* Hover Effect - Reveal hidden text and change background */
.buyNow:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.buyNow:hover span:first-child {
  color: #ffebcd; /* Change original text color on hover */
}

.buyNow:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.navbarBottomRight {
  /* margin-left: 20em; */
}

@media (max-width: 1200px) {
  .socialMedia {
    margin-right: 10em;
  }
}

@media (max-width: 991.98px) {
  .socialMedia {
    margin-right: 2em;
  }
  .mouseIcon {
    display: none;
  }
  .navIcons {
    margin-left: 2em;
  }
}

@media (max-width: 500px) {
  .navBottom,
  .navBtn {
    display: none;
  }

  .navLogo {
    width: 60px;
  }
}
