.hero {
  padding: 12em 10em;
}

.heroSubTitle {
  font-size: 3vw;
  font-weight: 200;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
  line-height: 0.8em;
  color: #ffebcd;
  position: relative;
  top: 2em;
  letter-spacing: 0.01em;
}

.heroTitle {
  font-size: 26vw;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  line-height: 0.8em;
  color: #ffebcd;
  letter-spacing: 0.01em;
}

.heroSubTitle2 {
  font-size: 3vw;
  font-weight: 200;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
  line-height: 0.8em;
  color: #ffebcd;
  position: relative;
  bottom: 0.2em;
  letter-spacing: 0.01em;
}

.heroVideoBox video {
  position: absolute;
  mix-blend-mode: lighten;
  top: 0px;
  left: 0px;
}

.customO {
  position: relative;
  top: 0.1em;
}

.canvas {
  mix-blend-mode: lighten;
}

.scrollDown {
  color: blanchedalmond;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
}
