@import "../node_modules/mouse-follower/dist/mouse-follower.min.css";
@import "~mouse-follower/dist/mouse-follower.min.css";
@import "../node_modules/lenis/dist/lenis.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  cursor: none;
} */

.home-outer {
  background: #a900a9;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* cursor animation */
