@import "../node_modules/mouse-follower/dist/mouse-follower.min.css";
@import "~mouse-follower/dist/mouse-follower.min.css";
@import "../node_modules/lenis/dist/lenis.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #370037;
  border-radius: 33rem;
}

::-webkit-scrollbar-track {
  background: #ffffff21;
}

.check {
  color: #ffebcd;
}
