.preloader {
  overflow: hidden;
  z-index: 999999999999999999999;
}

.preload {
  transition: all 0.3s linear;
  background: radial-gradient(
    782px circle at 48.06% 0.31%,
    #d700d7 0%,
    #710071 100%
  );
  z-index: 999999999999999999999;
}

.preloaderTimer {
  font-size: 10vw;
  color: #dc5bdd;
  position: absolute;
  bottom: 0.1em;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.5s linear;
}

.loaderWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinnerDiv {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(../../assets/footprint.png) no-repeat center center;
  background-size: contain;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-animation 1s calc(var(--delay) * 1s) infinite ease;
  transition: all 0.2s linear;
}

.spinnerDiv:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinnerDiv:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinnerDiv:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinnerDiv:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinnerDiv:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinnerDiv:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinnerDiv:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinnerDiv:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinnerDiv:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinnerDiv:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

/* Animation for the spinning effect */
@keyframes spinner-animation {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.01%));
  }
}

.glassLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(15px);
  background: radial-gradient(
    782px circle at 48.06% 0.31%,
    #d700d7 0%,
    #710071 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.glassLayer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: contain;
  opacity: 0.1;
  z-index: 3;
}

@media (max-width: 720px) {
  .spinnerDiv {
    width: 40px;
    height: 40px;
  }

  .spinner {
    position: relative;
    right: 1rem;
  }
}
