.preloader {
  background: #ffebcd;
  overflow: hidden;
}

.preloaderTimer {
  font-size: 9vw;
  color: #370037;
  position: absolute;
  bottom: 0.1em;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.5s linear;
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: absolute; /* Updated to absolute to cover full screen */
  top: 0;
  left: 0;
  width: 100vw; /* Make sure the mask covers full width */
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url("/mask2.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 80%;
  transform: scale(0); /* Initial scale set to 0 */
  transition: transform 0.8s ease-out;
}
