.canvas {
  mix-blend-mode: lighten;
  z-index: 999999999999999999999999999999999999;
  filter: drop-shadow(10px 6px 8px black);
}

.primeText {
  color: blanchedalmond;
  font-size: 10vw;
  font-weight: 600;
  font-family: "Cinzel", system-ui;
  font-style: normal;
  text-transform: uppercase;
  line-height: 0.9em;
  position: fixed;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.subHead {
  color: #ffebcd;
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "Poppins", system-ui;
  font-style: normal;
  max-width: 100%;
  line-height: 1.3em;
  letter-spacing: 0.05rem;
  word-spacing: 0.04em;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 0.5rem;

  position: fixed;
  left: 7%;
}

.gallarySubtitleBox {
  position: fixed;
  bottom: 8%;
  left: 7%;
  width: 500px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #710071,
    #710071c2,
    #71007173,
    #7100710a
  );
  padding: 2rem;
  border-left: 2px solid #71007173;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 0.5rem;
}

.gallarySubtitle {
  color: #ffebcd;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Poppins", system-ui;
  font-style: normal;
  max-width: 100%;
  line-height: 1.3em;
  letter-spacing: 0.05rem;
  word-spacing: 0.04em;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.buttonContainer {
  position: fixed;
  top: 40%; /* Adjust as needed */
  right: 5%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; /* Adjust spacing between buttons */
  opacity: 1;
}

.gallaryImg {
  width: 200px;
  height: auto;
  transition: all 0.2s linear;
}

.gallaryLaMarca {
  position: fixed;
  top: 5%; /* Adjust as needed */
  right: 5%;
}

.gallaryLaMarca img {
  width: 400px;
}

.mobTitleStyle {
  left: 37% !important;
}

@media (max-width: 720px) {
  .gallaryLaMarca img {
    width: 150px;
  }

  .gallaryImg {
    width: 80px;
    height: auto;
    transition: all 0.2s linear;
  }

  .buttonContainer {
    position: fixed;
    top: 30%; /* Adjust as needed */
    right: 5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* Adjust spacing between buttons */
    opacity: 1;
  }

  .canvas {
    top: 30%;
  }

  .gallarySubtitle {
    color: #ffebcd;
    font-size: 1rem;
    font-weight: 200;
    font-style: normal;
    max-width: 100%;
    line-height: 1.3em;
    letter-spacing: 0.05rem;
    word-spacing: 0.04em;
    flex-wrap: wrap;
    word-wrap: break-word;
  }

  .primeText {
    font-size: 12vw;
    line-height: 0.9em;
    position: fixed;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .subHead {
    font-size: 1.2rem;
    padding-left: 0rem;
    bottom: 26% !important;
    left: 0px;
  }

  .gallarySubtitleBox {
    width: 95%;
    padding: 1rem;
    left: 3%;
    padding-left: 0.2rem;
    height: 150px;
    bottom: 2rem;
  }
}
