.main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* min-height: 100vh; */
  overflow: hidden;
  background: url("https://res.cloudinary.com/dlxpea208/image/upload/v1727842605/wwc-bg1_hzpxlt.png");
}

.sliderContainer {
  position: absolute;
  top: 5vh; /* Center the text vertically */
  width: 100%;
}

.slider {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.slider p {
  position: relative;
  margin: 0;
  color: white;
  font-size: 150px; /* Adjusted size */
  font-weight: 500;
  padding-right: 50px;
  display: inline-block;
}

.visitBox {
  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: inline-block;

  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  top: 1rem;
  transition: all 0.2s linear;

  transform: rotate(45deg);

  cursor: pointer;
}

.visitBox:hover {
  background: black;
  border: 2px solid white;
  transform: scale(1.01);
}

.visitBox:hover .visitArrow {
  color: white;
}

.visitBox:hover .visitText {
  color: white;
}

.visitArrow {
  font-size: 100px;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
}

.visitText {
  font-size: 1.2rem;
  color: black;
  font-family: "Poppins", "Helvetica Neue";
  font-weight: 500;
  line-height: 1em;
  width: 100%;
  text-align: center;
  position: relative;
  left: 1rem;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.footerBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.socialMedia {
  /* position: absolute; */
  right: 0rem;
  cursor: pointer;
  bottom: 1rem;
  display: flex;
  justify-content: center;
}

.legalInfoBox {
  /* position: absolute; */
  left: 0rem;
  cursor: pointer;
  bottom: 1rem;
  display: flex;
  justify-content: center;
}

.legalInfo {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", "Helvetica Neue";
  color: blanchedalmond;
  margin-left: 3.5rem;
  transition: all 0.2s linear;
}
.legalInfo:hover {
  color: #ffebcda6;
}

.icons {
  width: 60px;
  height: 60px;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  border-radius: 0px;
  margin-right: 5rem;

  border: 1px solid blanchedalmond;
  border-radius: 100%;
  padding: 0.4rem;
}

.mapSection {
  width: 95%;
  position: relative;
  top: 0rem;
  border-radius: 2rem;
}

.mapSection iframe {
  border-radius: 2rem;
}
.mapSection img {
  border-radius: 2rem;
  object-fit: cover;
}

.shopImg {
  width: 100%;
  height: 500px;
  margin-top: 1rem;
}

.map {
  cursor: pointer;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map:hover {
  transform: scale(0.98);
}

.experience {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", "Helvetica Neue";
  color: white;
  position: relative;
  bottom: 0.4rem;
  left: 1rem;

  color: #ffffff;
}

/* Add this to your Sampark.module.css file */

.shopImg {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}

.shopImg img,
.shopImg iframe {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  border: 2px solid #710071;
}

.shopImg:hover img,
.shopImg:hover iframe {
  filter: brightness(50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark gradient effect */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shopImg:hover .overlay {
  opacity: 1;
}

.experienceText {
  font-size: 2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.legalInformationBox {
  position: fixed;
  bottom: 0px;
  z-index: 9999;
}

.gradientBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url("https://res.cloudinary.com/dlxpea208/image/upload/v1727842605/wwc-bg1_hzpxlt.png");

  filter: blur(0px);
  background-size: cover;
}

.glassLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.041);
  overflow: hidden;
}

.glassLayer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: contain;
  opacity: 0.1;
  z-index: 3;
}

.showCaseSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

@media (max-height: 800px) {
  .main {
    padding-bottom: 1rem;
    height: max-content;
  }
  .footerBox {
    padding-top: 3rem;
  }
  .showCaseSection {
    margin-top: 3rem;
  }
}

@media (max-width: 720px) {
  .main {
    padding-bottom: 2rem;
    height: auto;
  }

  .mapSection {
    margin-top: 4rem;
  }

  .experience {
    bottom: 0px;
  }
}

@media (max-width: 500px) {
  .socialMedia,
  .legalInfoBox {
    position: static;
  }

  .socialMedia {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .icons {
    width: 40px;
    height: 40px;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    border-radius: 0px;
    margin-right: 0rem;

    border: 1px solid blanchedalmond;
    border-radius: 100%;
    padding: 0.4rem;
    margin-top: 2rem;
  }

  .footerBox {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .legalInfoBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .legalInfo {
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", "Helvetica Neue";
    color: blanchedalmond;
    transition: all 0.2s linear;
    margin: 0px;
  }

  .showCaseSection {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0rem;
  }

  .mapSection {
    margin-top: 2rem;
  }

  .main {
    padding-bottom: 0px;
  }
}
