.website {
  position: relative;
  width: 100%;
  overflow-x: clip;
  transition: all 1.5s linear;
  background: #3b003b;
}

.gradientBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url("https://res.cloudinary.com/dlxpea208/image/upload/v1727842605/wwc-bg1_hzpxlt.png");
  /* Conical gradient */
  /* background: conic-gradient(
    from 180deg,
    #3b003b 0%,
     #3b003b 50%,
     #3b003b 100%
  ); */
  filter: blur(0px); /* Slight blur for smoothness */
  background-size: cover;
}

.content {
  position: relative;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow-y: scroll; */
  z-index: 999999999;
}

.glassLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(0px);
  background: linear-gradient(
    to top,
    /* Direction of the gradient */ rgba(0, 0, 0, 1) 0%,
    /* Solid black at the bottom */ rgba(0, 0, 0, 0) 100%
      /* Transparent at the top */
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.041);
  overflow: hidden;
}

.glassLayer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: contain;
  opacity: 0.1;
  z-index: 3;
}
