.introduction {
  z-index: 100;
}

.iSubhead {
  color: blanchedalmond;
  font-size: 3vw;
  font-weight: 200;
  line-height: 0.8em;
  margin-right: 4rem;
  margin-top: 0.2em;
  letter-spacing: 0.01em;
}

.info {
  padding-top: 3rem;
}

.iCol1 {
  border-right: 2px solid blanchedalmond;
}

.hero {
  padding: 0em 10em;
}
.heroContent {
  position: relative;
  bottom: 4em;
}

.heroSubTitle {
  font-size: 3vw;
  font-weight: 200;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
  line-height: 0.8em;
  color: #ffebcd;
  position: relative;
  top: 1.5em;
  letter-spacing: 0.01em;
}

.heroTitle {
  font-size: 20vw;
  font-weight: 200;
  font-family: "Cormorant Garamond", serif;
  line-height: 0.8em;
  color: #ffebcd;
  letter-spacing: 0.01em;
  position: relative;
  left: 6rem;
}

.heroSubTitle2 {
  font-size: 3vw;
  font-weight: 200;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
  line-height: 0.8em;
  color: #ffebcd;
  position: relative;
  bottom: 0.2em;
  letter-spacing: 0.01em;
}

.canvas {
  top: -30px;
  filter: drop-shadow(14px 10px 12px black);
}

/* .heroSubTitle div {
  opacity: 1 !important;
}
.heroSubTitle div div {
  opacity: 1 !important;
} */
